---
title: Boomi Data Services for VMware Tanzu (TKGI)
owner: Partners
---

The Boomi Data Services for VMware Tanzu (TKGI) registers a service broker with 
a VMware Tanzu Application Service and exposes its deployed iPacks to the CF
Marketplace. Developers can then create service plan instances using Apps
Manager or the Cloud Foundry Command Line Interface (cf CLI) and bind them to
their apps.

## <a id='features'></a>Key Features

Boomi Data Services for VMware Tanzu (TKGI) includes the following key features:

* Rolling updates via Helm.
* Automated Service Broker Registration.
* Multi-Deplyoment Multi-Tenancy via namespacing.
* Support for K8S-Provisioned and External NAS/NFS
* Support for automounted data volumes (over NFS)


## <a id="snapshot"></a>Product Snapshot

The following table provides version and version-support information about Boomi
Data Services for VMware Tanzu (TKGI).

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Version</td>
        <td>v0.11.11</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>October 8, 2020</td>

    </tr>
    <tr>
        <td>Software component version</td>
        <td>0.11.11</td>
    </tr>
    <tr>
        <td>Compatible VMware Tanzu (TKGI) Service version(s)</td>
        <td>v1.7.X, v1.8.X, and v1.9.X</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>GCP, AWS, Azure, and vSphere</td>
    </tr>
    <tr>
        <td>IPsec support</td>
        <td>No</td>
    </tr>
</table>


## <a id="reqs"></a>Requirements
Boomi Data Services for VMware Tanzu (TKGI) has the following requirements:

+ kubectl CLI

+ helm CLI

+ Access to a Docker daemon (for loading images into Kubernetes)

## <a id="feedback"></a>Feedback

If you have a feature request, questions, or information about a bug, please visit
[Dell Boomi Support](https://boomi.com/services/support/).
