---
title: Boomi Data Services for PCF (PKS) (Beta)
owner: Partners
---

<p class="note warning">
<strong>WARNING! </strong>
The  Boomi Data Services for Pivotal Cloud Foundry (PCF) (PKS) integration is currently in beta and is intended for evaluation and test purposes only.
Do not use this product in a PCF production environment.
</p>

The Boomi Data Services for PCF (PKS) registers a service broker with PCF and exposes its deployed iPacks to
the CF Marketplace. Developers can then create service plan instances using Apps Manager or the Cloud Foundry Command
Line Interface (cf CLI) and bind them to their apps.

## <a id='features'></a>Key Features

Boomi Data Services for PCF (PKS) includes the following key features:

* Rolling updates via Helm.
* Automated Service Broker Registration.
* Multi-Deplyoment Multi-Tenancy via namespacing.
* Support for K8S-Provisioned and External NAS/NFS
* Support for automounted data volumes (over NFS)


## <a id="snapshot"></a>Product Snapshot

The following table provides version and version-support information about Boomi Data Services for PCF (PKS) (Beta).

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Version</td>
        <td>v0.11.5</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>August 19, 2019</td>
    </tr>
    <tr>
        <td>Software component version</td>
        <td>1.0.0</td>
    </tr>
    <tr>
        <td>Compatible Pivotal Container Service version(s)</td>
        <td>v1.3.X, v1.5.X, and v1.6.X</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>GCP and vSphere</td>
    </tr>
    <tr>
        <td>IPsec support</td>
        <td>No</td>
    </tr>
</table>


## <a id="reqs"></a>Requirements
Boomi Data Services for PCF (PKS) has the following requirements:

+ kubectl CLI

+ helm CLI

+ Access to a Docker daemon (for loading images into Kubernetes)

## <a id="feedback"></a>Feedback

If you have a feature request, questions, or information about a bug, please visit
[Dell Boomi Support](https://boomi.com/services/support/).
