---
title: Boomi Data Services on PKS for PCF (Beta)
owner: Partners
---

<p class="note warning">
<strong>WARNING! </strong>
The  Boomi Data Services on PKS for PCF tile is currently in beta and is intended for evaluation and test purposes only.
Do not use this product in a PCF production environment.
</p>

This documentation describes the Boomi Data Services on PKS for PCF, the Boomi Data services on PKS 
Broker for PCF enables Boomi Integrators to run Boomi IPacks on PKS and register them to PCF.

## <a id='overview'></a>Overview

The Boomi Data Services on PKS for PCF (Beta) registers a service broker with PCF and exposes its deployed iPacks to
the CF Marketplace. Developers can then create service plan instances using Apps Manager or the Cloud Foundry Command
Line Interface (cf CLI) and bind them to their apps.

## <a id='features'></a>Key Features

Boomi Data Services on PKS for PCF (Beta) includes the following key features:

* Rolling updates via Helm.
* Automated Service Broker Registration.
* Multi-Deplyoment Multi-Tenancy via namespacing.


## <a id="snapshot"></a>Product Snapshot

The following table provides version and version-support information about Boomi Data Services on PKS for PCF (Beta).

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Version</td>
        <td>v1.0.0</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>November 1, 2018</td>
    </tr>
    <tr>
        <td>Software component version</td>
        <td>1.0.0</td>
    </tr>
    <tr>
        <td>Compatible Pivotal Container Service version(s)</td>
        <td>v1.1.X and 1.2.X</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>GCP, and vSphere</td>
    </tr>
    <tr>
        <td>IPsec support</td>
        <td>No</td>
    </tr>
</table>


## <a id="reqs"></a>Requirements
Boomi Data Services on PKS for PCF (Beta) has the following requirements:

+ kubectl

+ helm

+ local docker daemon

## <a id="limitations"></a>Limitations

**List any known limitations.**

+ Unautomated CF registration

+ Molecule-Cloud

## <a id="feedback"></a>Feedback

If you have a feature request, questions, or information about a bug, please email
[Pivotal Cloud Foundry Feedback](mailto:cf-feedback@pivotal.io) list or send an email to YOUR-SUPPORT-EMAIL.

## <a id='license'></a>License

**List any license information here.**
