---
title: Installing and Configuring Boomi Data Services for PCF (PKS) on PKS
owner: Partners
---



This topic describes how to install Boomi Data Services for Pivotal Cloud Foundry (PCF) on
Pivotal Container Service (PKS).


##<a id="download"></a> Download Boomi Data Services for PCF (PKS)

Boomi Data Services for PCF (PKS) is available for download from Pivotal Network.  It is
distributed as a tarred, gzipped archive, named something like `dell-boomi-pks-<version>.tar.gz`.

This archive contains all of the Kubernetes definition files, and Docker container images
that are needed to run Boomi Data Servies for PCF.

To unpack the archive, use standard UNIX `tar` commands:

    $ tar -xzvf dell-boomi-pks-$VERSION.tar.gz


##<a id="obtain-cluster-access"></a> Obtain Cluster Access

A Pivotal Container Service (PKS) cluster is required to install Boomi Data Services for PCF.
To obtain access to your cluster, do the following:

  1. Log in to PKS: `pks login -a <pks-url> -u <username> -p <password> -k`
  2. Update your `~/.kube/config`: `pks get-credentials <cluster-name>`
  3. Configure your Kubernetes client: `kubectl config use-context <cluster-name>`


##<a id="push-docker-images"></a> Push Docker Images

Before you can instantiate the container images that comprise the Boomi Data Services for PCF,
they need to be loaded into a Docker Container Registry that is accessible to the PKS cluster.

First, load the image files into your local Docker daemon:

    $ docker load -i ./images/*
    644879075e24: Loading layer [===========================>] 117.9MB/117.9MB
    ...
    2b9cc11f6cfc: Loading layer [===========================>] 176.6kB/176.6kB
    Loaded image: dell-boomi-pks:v0.3.0.dev.3.g6024f1e

To verify that the Docker images are now available:

    $ docker images "dell-boomi-*"
    REPOSITORY           TAG                     IMAGE ID      CREATED             SIZE
    dell-boomi-molecule  v0.3.0.dev.3.g6024f1e   1d5b86baf556  30 minutes ago      763M
    dell-boomi-broker    v0.3.0.dev.3.g6024f1e   4e1243bd22c6  30 minutes ago      217M
    dell-boomi-dap       v0.3.0.dev.3.g6024f1e   ef9800123caa  30 minutes ago      198M

Finally, tag those images and push them to your remote registry:

    $ docker tag dell-boomi-molecule harbor.registry.tld/dell-boomi-molecule
    $ docker tag dell-boomi-broker   harbor.registry.tld/dell-boomi-broker
    $ docker tag dell-boomi-dap      harbor.registry.tld/dell-boomi-dap

    $ docker login harbor.registry.tld
    $ docker push harbor.registry.tld/dell-boomi-molecule
    $ docker push harbor.registry.tld/dell-boomi-broker
    $ docker push harbor.registry.tld/dell-boomi-dap

##<a id="install-helm"></a> Install Helm / Tiller

Boomi Data Services for PCF is distributed as a Helm chart.  To install Helm on your PKS cluster, use the `initialize_helm_rbac.yaml` file contained in the Boomi Data Services for PCF (PKS) asset, downloaded from Pivotal Network.

    $ kubectl create -f initialize_helm_rbac.yaml

    serviceaccount "tiller" created
    clusterrolebinding.rbac.authorization.k8s.io "tiller" created

This sets the necessary privileges for helm with a service account named tiller.

Initialize and upgrade helm with the command:

    $ helm init --wait --service-account tiller --upgrade

    $HELM_HOME has been configured at /<path>/.helm.

    Tiller (the Helm server-side component) has been upgraded to the current version.
    Happy Helming!


##<a id="install-chart"></a> Configure and Install the Helm Chart

To configure the Helm chart, update the chart values, in `chart/values.yml`, setting your
Boomi username, password, master account ID, and Environment name.

Then, install the Helm chart into your PKS cluster:

    $ helm install --name boomi -f chart/values.yml  ./chart`


Helm installs the new release into the Kubernetes default namespace specified in the
current Kubernetes context. If you want to install into a different namespace, include
the `--namespace` option in the `helm` command.

After the deployment process completes, the following should appear in the terminal:

    NAME:   boomi
    LAST DEPLOYED: Wed Oct 31 14:12:41 2018
    NAMESPACE: default
    STATUS: DEPLOYED

    RESOURCES:
    ==> v1/Secret
    NAME                      AGE
    boomi-dell-boomi  1s

    ==> v1/Service
    boomi-dell-boomi-broker   1s
    boomi-dell-boomi-gateway  1s

    ==> v1beta2/Deployment
    boomi-dell-boomi-broker    1s
    boomi-dell-boomi-molecule  1s

    ==> v1/Pod(related)

    NAME                                        READY  STATUS             RESTARTS  AGE
    boomi-dell-boomi-broker-6cc845c56f-mgqf8    0/1    ContainerCreating  0         1s
    boomi-dell-boomi-molecule-74bbccb5fb-c5nj4  0/2    Init:0/1           0         1s
