---
title: Release Notes for Boomi Data Services for VMware Tanzu (TKGI)
owner: Partners
---

These are release notes for Boomi Data Services for VMware Tanzu (TKGI).
##<a id="v0.11.11"></a> v0.11.11

**Release Date:** October 8, 2020

Features included in this release:

* **Broker Optional** - Makes the Broker optional, broker is not installed unless
  the broker options are configured.

* **Override Properties** - allow parameters to be passed to atom.vmoptions and
  container.properties. Eliminates duplication of configuration parameters.

* **Improve Pod Persistence** - prevent pods from being terminated during atom
  worker restarts.

* **Various other fixes and improvements** - This release also contains a mix 
  of other small bugfixes and improvements.

##<a id="v0.11.9"></a> v0.11.9

**Release Date:** December 2, 2019

Features included in this release:

* **NFS Options Override** - Operators using `external` storage can now
  specify custom NFS options, to be passed to the `mount` command via
  the `-o` flag.

##<a id="v0.11.7"></a> v0.11.7

**Release Date:** August 30, 2019

Features included in this release:

* **Decom timout bug fixed** - There was a bug with the previous version
  where Kubernetes could force close a node before it was done decomissioning
  properly.  This is now fixed, and the timeout is configurable via a new
  value in the Values.yml file `boomi.terminationWaitSeconds`

* **Various other fixes and improvements** - This release also contains a
  mix of other small bugfixes and improvements.

##<a id="v0.11.5"></a> v0.11.5

**Release Date:** August 19, 2019

Features included in this release:

* **External NFS/NAS** - operators who wish to use their own NFS/NAS servers
  to host the Boomi Molecule installation can now do so, by specifying their
  _storage mode_ as `external`, and providing the details for reaching the
  NFS/NAS endpoint (host/ip and volume path)

* **Automounting of NFS Data Volumes** - operators can now specify a set of
  data volume mountpoints that will be handled via the Linux automounter.
  This allows processes deployed to the cluster to reference datasets from
  outside the cluster, without introducing any undue dependencies on
  third-party NFS/NAS/storage devices.

* **Graceful Decommissioning** - when `molecule` pods are terminated, they
  now initiate a graceful decommissioning shutdown of the molecule, properly
  ejecting it from the cluster and avoiding head node leader election
  problems.

* **VMware Tanzu Registration** is now baked in, but optional.  By default, your
  Boomi Data Services Broker will be registered with the gorouter (and
  advertise appropriate routes), and made available in the VMware Tanzu services
  marketplace.  This can be disabled for sites that want to control how this
  registration and route mapping takes place.

* **Private Docker Image Registries** are now supported, provided operators
  have the credentials to give to the TKGI cluster.

* **Tolerances / Affinity / Node Selection** - the Helm chart for Boomi Data
  Services now supports the standard fare for pod placement, using
  industry-standard nomenclature.

Issues fixed in this release:

* All previous Known Issues have been patched in this release.

Known issues:

_none_.

##<a id="v0.2.0"></a> v0.2.0

**Release Date:** January 9, 2019

Features included in this release:

* Virtual Atoms
* Broker Registration
* Helm Chart Support

Issues fixed in this release:

* Atom installation race-conditions

Known issues:

* Automated CF Registration.
* It is not possible to use external NFS for ATOM_HOME.
* Scaling down molecule nodes can lead to head node contention.
