---
title: Release Notes for Boomi Data Services on PKS for PCF (Beta)
owner: Partners
---

These are release notes for Boomi Data Services on PKS for PCF (Beta).

##<a id="ver"></a> v1.0.0

**Release Date:** November 1, 2018

Features included in this release:

* Virtual Atoms
* Broker Registration
* Helm Chart Support

Fixed issues in this release:

* Atom installation race-conditions

Known issues in this release:

* Automated CF Registration.
* Multi-Atom Deployment, upstream NFS
